@model TP4.EntityFrameWork.Web.Models.SuppliersView
@{
    ViewBag.Title = "Insertar Supplier";
}

<h1>Insertar Supplier</h1>

@using (Html.BeginForm("Insert", "Suppliers", FormMethod.Post))
{
    <label>Nombre: </label> @Html.TextBoxFor(s => s.Nombre)
    <label>Dirección: </label> @Html.TextBoxFor(s => s.Direccion)
    <label>Teléfono: </label> @Html.TextBoxFor(s => s.Telefono)

    <input type="submit" class="btn btn-success" value="Guardar" , onclick="return confirm('¿Crear nuevo Supplier?')" />
}
