<div class="alert alert-danger" *ngIf="mensaje">
    {{mensaje}}
</div>

<table class ="table">
    <thead>
        <tr>
            <th scope="col">
                ID
            </th>
            <th scope="col">
                Nombre
            </th>
            <th scope="col">
                Telefono
            </th>
            <th scope="col">
                Acciones
            </th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of shippers">
            <td>
                {{item.Id}}
            </td>
            <td>
                {{item.Nombre}}
            </td>
            <td>
                {{item.Telefono}}
            </td>
            <td>
              <button class="btn btn-primary" [routerLink]="['/editar',item.Id]">Editar</button>
              <button class="btn btn-danger" (click)="eliminar(item.Id!)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>

