@model TP4.EntityFrameWork.Web.Models.ShippersView
@{
    ViewBag.Title = "Editar Shipper";
}

<h1>Editar Shipper</h1>

@using (Html.BeginForm("Update", "Shippers", FormMethod.Post))
{
    <label>Nombre: </label> @Html.TextBoxFor(s => s.Nombre)
    <label>Teléfono: </label> @Html.TextBoxFor(s => s.telefono)

    <input type="submit" class="btn btn-success" value="Editar" , onclick="return confirm('¿Confirmar cambios?')" />
    @Html.TextBoxFor(s => s.Id, new { @class = "invisible" })
}