<div class="card" style="padding: 1rem 0rem">
    <div class="card-body" style="width:1000px" height:720px>

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="1500">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
           
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="https://i0.wp.com/www.pedrodelanube.com/wp-content/uploads/2021/09/lenguajes_programacion_odiados_amados_2019.jpg" alt="Img1">
                    <div class="carousel-caption">
                        <h3>Amamos</h3>
                    </div>
                </div>
                <div class="item">
                    <img src="https://www.nextibs.com/wp-content/uploads/2021/12/seguridad-informatica-1024x439.jpeg" alt="Img2">
                    <div class="carousel-caption">
                        <h3>la</h3>
                    </div>
                </div>
                <div class="item">
                    <img src="https://img.freepik.com/foto-gratis/hombre-negocios-usando-dispositivos-tecnologia-e-iconos-interfaz-linea-delgada_117023-904.jpg?w=1024" alt="Img3">
                    <div class="carousel-caption">
                        <h3>tecnología</h3>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            <!-- jQuery first, then Bootstrap JS. -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
            <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
        </div> <!-- Carousel -->
    </div>
</div>

